.audio-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.audio-input .audio-btn{
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    background: var(--color-gradient);
    cursor: pointer;
}

.audio-input .audio-url{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    color: var(--color-text);
    background: var(--color-input);
    flex-grow: 1;
    outline: none;
}