{%extends "_product.html" %} 

{% block styles %}
    {{ super() }} {# This includes the CSS from the parent's 'styles' block #}
    <link rel="stylesheet" href="{{ url_for('static', path='css/audio.css') }}">
{% endblock %}

{%block product%}
    <form action="/audio" method="post" enctype="multipart/form-data" class="audio-input">
        <input type="text" name="audio_url" id="audio-id" placeholder="Enter the YouTube Video url" class="audio-url" required>
        <button type="submit" class="audio-btn">Get Audio</button>
    </form>
{% endblock %}